<div class="noise"></div>

<nav class="navbar">
  <div class="nav-content">

    <div class="logo typing-effect">
      👨🏽‍💻 FULL STACK DEVELOPER AND CIBERSECURITY ANNALYST BEGGINER 🛡️
    </div>

  </div>
</nav>

<header class="hero-wrapper">

  <div class="hero">

    <div class="hero-content">

      <div class="tag">
        🐧💻 Desarrollo - Full stack | Linux - Debian | Investigador de Ciberseguridad Jr | 
            Administración de servidores | Cloud
      </div>

      <h2>
        Todo es Replicable, menos la experiencia de construir
        <br>
        <span class="gradient">
          Imagina, crea, construye.
        </span>
      </h2>

      <p>
       Perfil técnico: Llevo 4 años de experiencia en el entorno de IT, el primer año me dedique a realizar trabajos simples
       como sistemas de permisos, inventarios, registros, etc, a nivel frontend y backend de forma basica, el segundo y tercer año mi entorno evolucionó lo cual me llevó enfocarme en el desarrollo full-stack y desplegar proyectos
       trabajando con herramientas como jenkins, nginx, tareas programadas con bash, entre otras, el ultimo año mi enfoque se ha centrado en la cibersguridad, realizando laboratorios y analisis de vulnerabilidades tales como IDOR, XSS, PATH TRAVERSAL,
       DESBORDAMIENTO DE BUFFER, ARP SPPOFING, ANALISIS DE TRAFICO Y TRAFICO MALICIOSO, entre otros
       y dando un salto al desarrollo seguro para evitar brechas de seguridad.
      </p>

      <div class="hero-buttons">



      </div>

      <div class="stats">

        <div class="stat">
          <h2>DESARROLLO WEB</h2>
          <p>Angular, React, Node, Python, PostgreSQl entre otros</p>
        </div>

        <div class="stat">
          <h2>INFRAESTRUCTURA</h2>
          <p>Redes,Hardening, Firewalls, Minimo Privilegio, etc</p>
        </div>

        <div class="stat">
          <h2>CLOUD</h2>
          <p>Vps, AWS, Cloudflare, Jenkins, nginx, etc</p>
        </div>

      </div>

    </div>

    <div class="terminal">

      <div class="terminal-top">
        <div class="dot red"></div>
        <div class="dot yellow"></div>
        <div class="dot green"></div>
      </div>

      <div class="terminal-body">

        <div>
          <span class="command">$ whoami</span>
        </div>

        <div>> Full stack Developer & Security Enthusiast</div>

        <br>

        <div>
          <span class="command">$ stack --show</span>
        </div>

        <div>> Angular - Boostrap - Angular Material</div>
        <div>> Python - Django - Maria Db</div>
        <div>> Node - Express -Nest js - Postgresql - Sql Server</div>
        <div>> TypeScript - enums - Observables - Interfaces - Clases</div>
        <div>> Docker - redes - volumenes</div>
        <div>> Linux - Firewall - Dns - Web - Samba - dhcp </div>
        <div>> AWS Fundamentals - EC2 - S3 LANDA</div>

        <br>

        <div>
          <span class="command">$ mindset</span>
        </div>

        <div>> Trabajo en Equipo</div>
        <div>> Arquitectura Limpia</div>
        <div>> Analisis tecnico </div>
        <div>> Aprendizaje continuo </div>

      </div>

    </div>

  </div>

</header>

<section id="about">

  <div class="container">

    <h2 class="section-title">
      Sobre mí
    </h2>

    <p class="section-sub">
      Perfil orientado a ingeniería práctica. Interés fuerte
      por entender cómo funcionan realmente las tecnologías.
    </p>

    <div class="grid skills-grid">

      <div class="card">
        <h3 class="text-center newcolor">🧠 Apasionado por la neurociencia</h3>

        <p class="muted text-center">
          Interes profundo en la comprension del comportamiento
          humano.
        </p>
      </div>

      <div class="card">
        <h3 class="text-center newcolor">⚡ Performance</h3>

        <p class="muted text-center">
          Optimización, lazy loading y experiencia fluida.
          Reducción de tiempos de carga y mejora de interactividad.
        </p>
      </div>

      <div class="card">
        <h3 class="text-center newcolor" >🔐 Seguridad</h3>

        <p class="muted text-center">
          Networking Linux, firewalls y observabilidad.
          Analisis e investigacion de vulnerabilidades.
        </p>
      </div>

    </div>

  </div>

</section>

<section id="projects">

  <div class="container">

    <h2 class="section-title">
      Proyectos
    </h2>

    <div class="grid project-grid">

      <div class="card project">

        <h3 class="newcolor text-center">🔐Analisis de vulnerabilidad CVE-2021-4773</h3>

        <p class="muted text-center">
          <a class="removelink text-center" href="https://github.com/Alexs18/CVE-2021-4773"> 🐧 GITHUB REPOSITORY</a>.
        </p>
        
      </div>
      
      <div class="card project">
        
        <h3 class="text-center newcolor">🛠️ Hardening para servidores</h3>
        
        <p class="muted text-center">
          <a class="removelink text-center" href="https://github.com/Alexs18/BRUTE_FORCE_ATTACK">🐧GITHUB REPOSITORY</a>.
        </p>
        
      </div>
      
      <div class="card project">
        
        <h3 class="text-center newcolor"> 🖥️Escalabilidad de privilegios</h3>
        
        <p class="muted text-center">
          <a class="removelink text-center" href="https://www.linkedin.com/feed/update/urn:li:activity:7459120750206029824/">👀LINKEDIN PUBLICACIONES</a>.
        </p>

      </div>

    </div>

  </div>

</section>

<section id="journey">

  <div class="container">

    <h2 class="section-title">
      Trayectoria
    </h2>

    <div class="timeline">

      <div class="timeline-item">
        <h3>Desarrollo full-stack</h3>
        <p class="muted">
          Arquitecturas escalables y desacopladas.
        </p>
      </div>

      <div class="timeline-item">
        <h3>Administración de Servidores</h3>
        <p class="muted">
          Servicios, Despliegues y Mantenimiento.
        </p>
      </div>

      <div class="timeline-item">
        <h3>Analista De Ciberseguridad en proceso</h3>
        <p class="muted">
          Analisis de Vulnerabilidades - Investigación continua.
        </p>
      </div>

    </div>

  </div>

</section>

<footer>
  Diseñado con enfoque en performance y experiencia moderna.
</footer>